@media(max-width: 1000px) {
    header {
        width: 100vw;
    }
    nav ul li {
        top: -1.5vw;
        margin-right: 5vw;
    }
    nav ul li a {
        display: block;
        font-size: 2vw;
        padding-top: 2.2vw;
        text-decoration: none;
        margin-left: 2vw;
    }
    .btn {
        margin-top: -3vw;
        margin-right: 2vw;
        margin-left: -2vw;
        font-size: 1.5vw;
    }
    .lgn {
        margin-right: 5vw;
    }
    .main .banner .container h1 {
        font-size: 20px;
    }
}

@media(max-width: 670px) {
    .btn {
        font-size: 2vw;
        margin-bottom: 2vw;
    }
    .lgn {
        margin-left: 12vw;
    }
    .reg {
        margin-right: 22vw;
    }
    .menu {
        margin-left: 5.5vw;
    }
    nav ul li img {
        margin-top: 2.8vw;
        width: 15vw;
    }
    .container {
        margin: 2vw 2vw;
    }
    .container h1 {
        font-size: 15px;
        text-align: left;
    }
    .banner-image {
        display: flex;
        justify-content: left;
    }
}